In [4]:
import re

# Load the dataset
with open('lab11_dataset.txt', 'r') as file:
    dataset = file.read().splitlines()

# Mapper function
def mapper_task1(line):
    return re.sub(r'[^\w\s]', '', line).lower()

# Map
dataset_task1 = list(map(mapper_task1, dataset))

# output
print('\n'.join(dataset_task1))

ali writes on thursday
usman writes on wednessday
bilal writes on friday
ali writes on thursday
usman writes on wednessday
bilal writes on friday
ali writes  on thursday
kakamon writes on wednessday
bilal writes on friday
ali writes on thursday
usman writes on wednessday
bilal writes on friday
ali writes  on thursday
usman writes on wednessday
bilal writes on friday
ali writes on thursday
khuzaima writes on wednessday
bilal writes on friday
ali writes  on thursday
usman writes on wednessday
bilal writes on friday
ali writes on thursday
usman writes on wednessday
mia writes on friday
ali writes  on thursday
usman writes on wednessday
ik writes on sunday
ik writes on sunday
ik writes on sunday
ik writes on sunday
lalu writes on friday
ali writes  on thursday
usman writes on monday
bilal writes on friday
ali writes on tuesday
ali writes  on thursday
usman writes on wednessday
bilal writes on friday
iffat writes on thursday
usman writes on wednessday
mia writes on friday
ali writes  on thursday
usman writes on wednessday
lalu writes on friday
ali writes  on thursday
usman writes on monday
buzdsar writes on friday
ik writes on sunday
ik writes on sunday
ik writes on sunday
ik writes on sunday
ik writes on sunday
ik writes on sunday
ik writes on friday
ik writes on sunday
ik writes on sunday
bilal writes on monday
bilal writes on friday
iffat writes on friday
maryn writes on saturday
mia writes on friday
ali writes  on thursday
usman writes on tuesday

In [5]:
from collections import defaultdict

# Mapper function
def mapper_task2(line):
    if 'writes' in line:
        person = line.split('writes')[0].strip()
        return (person, 1)
    return None

# Map
mapped_task2 = filter(None, map(mapper_task2, dataset))
person_counts = defaultdict(list)
for person, count in mapped_task2:
    person_counts[person].append(count)

# Reduce
result_task2 = {person: sum(counts) for person, counts in person_counts.items()}

#  output
print(result_task2)

{'Ali': 6, 'usman': 9, 'bil-al': 1, 'us.man': 4, 'bilal': 3, 'Ali!': 9, 'Kakamon': 1, 'bilal.': 6, 'Khuzaima': 1, 'Mia': 3, 'IK': 13, 'Lalu.': 2, 'iffat': 2, 'Buzdsar': 1, 'Bilal': 1, 'Maryn': 1}

In [6]:
# Mapper function
def mapper_task3(line):
    if 'writes' in line:
        person = line.split('writes')[0].strip()
        day = line.split('on')[1].strip()
        return (person, day)
    return None

# Map
mapped_task3 = filter(None, map(mapper_task3, dataset))
person_days = defaultdict(list)
for person, day in mapped_task3:
    person_days[person].append(day)

# Reduce
result_task3 = {person: len(set(days)) for person, days in person_days.items()}

#  output
print(result_task3)

{'Ali': 2, 'usman': 3, 'bil-al': 1, 'us.man': 1, 'bilal': 1, 'Ali!': 1, 'Kakamon': 1, 'bilal.': 1, 'Khuzaima': 1, 'Mia': 1, 'IK': 2, 'Lalu.': 1, 'iffat': 2, 'Buzdsar': 1, 'Bilal': 1, 'Maryn': 1}

In [7]:
# Combine results
result_task4 = []
for person in result_task2.keys():
    for day in person_days[person]:
        result_task4.append(f'{person} <{day} {result_task3[person]} {result_task2[person]}>')

# Sort the result
result_task4.sort()

# output
print('\n'.join(result_task4))

Ali <Tuesday 2 6>
Ali <thursday 2 6>
Ali <thursday 2 6>
Ali <thursday 2 6>
Ali <thursday 2 6>
Ali <thursday 2 6>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Ali! <thursday 1 9>
Bilal <M 1 1>
Buzdsar <friday 1 1>
IK <Friday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
IK <Sunday 2 13>
Kakamon <writes 1 1>
Khuzaima <wednessday 1 1>
Lalu. <friday 1 2>
Lalu. <friday 1 2>
Maryn <Saturday 1 1>
Mia <friday 1 3>
Mia <friday 1 3>
Mia <friday 1 3>
bil-al <friday 1 1>
bilal <friday 1 3>
bilal <friday 1 3>
bilal <friday 1 3>
bilal. <friday 1 6>
bilal. <friday 1 6>
bilal. <friday 1 6>
bilal. <friday 1 6>
bilal. <friday 1 6>
bilal. <friday 1 6>
iffat <Friday 2 2>
iffat <thursday 2 2>
us.man <wednessday 1 4>
us.man <wednessday 1 4>
us.man <wednessday 1 4>
us.man <wednessday 1 4>
usman <M 3 9>
usman <M 3 9>
usman <Tuesday 3 9>
usman <wednessday 3 9>
usman <wednessday 3 9>
usman <wednessday 3 9>
usman <wednessday 3 9>
usman <wednessday 3 9>
usman <wednessday 3 9>